.experiencia {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.experiencia .subtitulo {
  color: #E0E0E0;
}

.experiencia-texto{
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 50ch;
  padding-top: 15px; 
  margin-bottom: 60px;
  color: #525252;
}
.experiencia-texto strong {
  color: #141414;
}

.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px 20px;
  background: #f5f5f5;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  position: relative;
}

.empresa-ano {
  font-size: 0.875rem;
  color: #525252;
  position: absolute;
  top: 22px;
  left: -50px;
}

.empresa::before {
  content: "";
  display: block;
  position: absolute;
  top: 20px;
  left: -4px;
  width: 4px;
  height: 20px;
  background: linear-gradient(#8DE6FF, #2990E5);
}

.empresa-titulo {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold;
  font-family: 'Noto Serif', serif;
}

.empresa-texto {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #525252;
}

.empresa-habilidades {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-content: flex-start;
}

.empresa-habilidades li {
  font-size: 0.875rem;
  line-height: 1.4;
  border-radius: 5px;
  background: #ffffff;
  color: #141414;
  padding: 5px 10px;
}

@media (max-width: 900px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  
  .experiencia .subtitulo {
    color: #141414;
  }

  .experiencia-texto {
    font-size: 1.25rem;
    max-width: 80%;
  }

  .empresa-ano {
    position: initial;
    order: 1;
  }

  .empresa-ano::before {
    content: "Ano - ";
  }
}

@media (max-width: 600px) {
  .empresa {
    grid-template-columns: 1fr;
  }
}

