.formacao {
  background-color: #141414;
  color: #ffffff;
}

.formacao-container {
  max-width: 1200px;
  padding: 120px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  position: relative;
}

.formacao-container::after {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url(../img/detalhe.svg) no-repeat center;
  position: absolute;
  bottom: -50px;
  left: 20px;
}

.formacao .subtitulo {
  color: #000000;
  max-width: 4ch;
}

.formacao-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  padding-top: 15px; 
  margin-bottom: 60px;
  color: #a3a3a3;
}

.formacao-texto strong {
  color: #ffffff;
}

.faculdade-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 60px;
}

.faculdade {
  background: #000000;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.faculdade-tipo {
  font-size: 0.875rem;
  color: #a3a3a3;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.faculdade-curso {
  font-size: 1.125rem;
  line-height: 1.4;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 40px;
  position: relative;
}

.faculdade-curso::before {
  content: "";
  display: block;
  position: absolute;
  width: 4px;
  height: 20px;
  top: -4px;
  left: -24px;
  background: linear-gradient(#8DE6FF, #2990E5);
}

.faculdade-instituicao {
  font-size: 1.125rem;
  color: #a3a3a3;
}

.formacao-extra h3 {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #8F8F8F;
  margin-bottom: 30px;
  text-transform: uppercase;
  position: relative;
}

.formacao-extra h3::before {
  content: "";
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  top: -2px;
  left: -36px;
}

.cursos h3::before {
  background: url(../img/cursos.svg);
}

.idiomas h3::before {
  background: url(../img/idiomas.svg);
}

.formacao-extra li {
  font-size: 1.125rem;
  line-height: 1.1;
  margin-bottom: 20px;
}

.formacao-extra span {
  color: #8F8F8F;
}

.cursos li {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 900px) {
  .formacao-container {
    grid-template-columns: 1fr;
    padding: 60px 20px;
    gap: 40px;
  }

  .formacao .subtitulo {
    color: #ffffff;
  }

  .formacao-texto {
    font-size: 1.25rem;
  }

  .formacao-extra h3::before {
    position: initial;
    margin-bottom: 10px;
  }
}